.page-body {
    .container {
        position: relative;
        height: rem-calc(735);
        background: {
            color: $page-body-background-color;
        }
        padding: {
            bottom: rem-calc(20);
        }
        .content-container {
            padding: {
                top: rem-calc(20);
                right: rem-calc(20);
                left: rem-calc(20);
            }
            height: 100%;
        }
    }
}