.progression-content {
    display: flex;
    width: 100%;
    height: rem-calc(180);
    background: {
        color: #4C4177;
    }
    color: white;
    border: {
        radius: rem-calc(15);
        style: none;
    }
    padding: rem-calc(40);
    margin: {
        bottom: rem-calc(20);
    }
    .date-wrapper {
        display: flex;
        flex: {
            direction: column;
        }
        justify-content: center;
        align-items: center;
        margin: {
            right: rem-calc(48);
        }
        @include breakpoint('large') {
            margin: {
                right: rem-calc(16);
            }
        }
        @include breakpoint('xlarge') {
            margin: {
                right: rem-calc(48);
            }
        }
        .day {
            font: {
                size: rem-calc(48);
            }
        }
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        .headline {
            margin: {
                bottom: rem-calc(10);
            }
        }
        .progression-bar {
            min: {
                height: rem-calc(8);
            }
            background: {
                color: grey;
            }
            border: {
                radius: rem-calc(15);
            }
            .progressed {
                width: 0;
                height: 100%;
                border: {
                    radius: rem-calc(15);
                }
                background: {
                    image: linear-gradient(45deg, $progression-bar-progressed-background-color-1, $progression-bar-progressed-background-color-2);
                }
            }
        }
        .additional-data-wrapper {
            flex-grow: 1;
            @include breakpoint('medium') {
                display: flex;
                align-items: flex-end;
            }
        }
        .todo {
            margin: {
                left: auto;
            }
        }
    }
}