.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include breakpoint(large) {
        width: unset;
        flex: {
            grow: 1;
        }
    }
    .search-for-task {
        @include custom-search-input($width: 80%, $color: $header-search-input-color, $background-color: $header-search-input-background-color);
    }
    .button {
        @include default-button-states();
        margin: {
            left: rem-calc(-28);
        }
        padding: rem-calc(6) 0;
        &::before {
            @include icon($icon-magnifying-glass, false);
            font: {
                size: rem-calc(20);
            }
        }
        &:hover {
          cursor: pointer;
        }
    }
}