//FONT FACE

// GLOBAL SETTINGS
$body-font-family: open-sans, #{font-stack("helvetica")};
$global-font-size: 100%;
$global-lineheight: 1.5;
$global-margin: 1.5rem;
$global-weight-normal: 400;

// PALETTE COLORS
$foundation-palette: (
        primary: #2E3553,
        secondary: orange,
        sky: #eaf2f0,
        sky-2: #e5eaed,
        alert: #cc4b37
);

// MEDIA QUERY
$breakpoints: (
        small: 0,
        medium: 600px,
        large: 1000px,
        xlarge: 1440px
);

// BUTTON GLOBAL STYLES
$button-sizes: (
        tiny: 0.6rem,
        small: 0.75rem,
        default: 1rem,
        large: 1.25rem
);

//GRID
$grid-container: 100%;
$grid-margin-gutters: (
        small: rem-calc(16),
        medium: rem-calc(32)
);
$grid-container-padding: 0;

// GLOBAL ELEMENTS
$link-color: white;
$link-hover-color: #4062BB;
$scrollbar-background-color: #999;
//BODY
$background-color-1: #667eea;
$background-color-2: #764ba2;
//HEADER
$header-background-color: get-color(primary);
$header-icon-qq-color: #BA265D;
$header-icon-color: white;
$header-title-color: white;
$header-search-input-color: #f0eeee;
$header-search-input-background-color: #454d66;
$header-search-input-placeholder-color: white;
$header-settings-background-color: #454d66;
$header-settings-hover-background-color: #667eea;
// MAIN-NAVIGATION SIDEBAR
$main-navigation-background-image-first-gradient: #2E3553;
$main-navigation-background-image-second-gradient: #4C4177;
$main-navigation-li-color: white;
$main-navigation-after-icon-today-background-image-first-gradient: #5F0A87;
$main-navigation-after-icon-today-background-image-second-gradient: #A4508B;
$main-navigation-after-icon-done-todos-background-image-first-gradient: #380036;
$main-navigation-after-icon-done-todos-background-image-second-gradient: #0CBABA;
// ASIDE
$aside-copyright-paragraph-color: white;
// PAGE BODY
$page-body-background-color: #2a314f;
// TODOS
$todos-content-background-color: #4C4177;
$todos-header-headline-color: white;
$todos-header-border-bottom-color: #999;
$todos-header-description-color: white;
$todos-header-description-icon-color: violet;
$todos-header-before-icon-color: #26F596;
$todos-header-after-background-color: $todos-header-before-icon-color;
$todos-circle-background-color: #A4508B;
$todos-circle-default-background-color: grey;
$todos-headline-color: white;
$todos-button-complete-background-color: #bca0ff;
$todos-button-complete-icon-color: #26F596;
$todos-button-edit-background-color: #009FFD;
$todos-button-edit-icon-color: white;
$todos-button-delete-background-color: #BA265D;
$todos-button-delete-icon-color: white;
$todos-description-color: white;
$todos-description-border-color: #999;
// TODO-POPUP
$todo-popup-background-color: get-color(primary);
$todo-popup-label-color: white;
$todo-popup-button-color: white;
$todo-popup-submit-button-background-color: $todos-button-complete-icon-color;
$todo-popup-submit-button-after-background-color: $todo-popup-submit-button-background-color;
$todo-popup-textarea-background-color: white;
$todo-popup-textarea-color: #7B8797;
// LOGIN
$login-input-focus-background-color: #454d66;
$login-color: #777;
$login-wrapper-background-color: white;
$register-color: black;
$register-border-color: #0162c8;
$register-hover-color: #BA265D;
$login-anchor-color: #009FFD;
$login-button-color: white;
// REGISTER
$register-back-button-background-color: #BA265D;
$register-back-button-after-background-color: $register-back-button-background-color;
$register-invalid-input-border-color: #d60f0f;
$register-invalid-span-color: #d60f0f;
// PROGRESSION BAR
$progression-bar-progressed-background-color-1: #1fe6ff;
$progression-bar-progressed-background-color-2: #673ab7;
// SETTINGS
$settings-profile-information-color: white;
$settings-headline-color: white;
$settings-level-bar-background-color: grey;
$settings-level-progression-bar-color-1: #3bc0ff;
$settings-level-progression-bar-color-2: #33ff00;
$settings-option-delete-button-background-color: #d60f0f;
$settings-input-background-color: #454d66;