//FONT FACE

// GLOBAL SETTINGS
$body-font-family: open-sans, #{font-stack("helvetica")};
$global-font-size: 100%;
$global-lineheight: 1.5;
$global-margin: 1.5rem;
$global-weight-normal: 400;

// PALETTE COLORS
$foundation-palette: (
        primary: #2c594e,
        secondary: orange,
        sky: #eaf2f0,
        sky-2: #e5eaed,
        alert: #cc4b37
);

// MEDIA QUERY
$breakpoints: (
        small: 0,
        medium: 600px,
        large: 1000px
);

// BUTTON GLOBAL STYLES
$button-sizes: (
        tiny: 0.6rem,
        small: 0.75rem,
        default: 1rem,
        large: 1.25rem
);

//GRID
$grid-container: 100%;
$grid-margin-gutters: (
        small: rem-calc(16),
        medium: rem-calc(32)
);
$grid-container-padding: 0;

// GLOBAL ELEMENTS
$link-color: white;
$link-hover-color: #4062BB;

//HEADER
$header-background-color: #2E3553;
$header-icon-qq-color: #BA265D;
$header-icon-color: white;
$header-title-color: white;
$header-search-input-color: #f0eeee;
$header-search-input-background-color: #454d66;
$header-search-input-placeholder-color: white;
// MAIN-NAVIGATION SIDEBAR
$main-navigation-background-image-first-gradient: #2E3553;
$main-navigation-background-image-second-gradient: #4C4177;
$main-navigation-li-color: white;
$main-navigation-after-icon-today-background-image-first-gradient: #5F0A87;
$main-navigation-after-icon-today-background-image-second-gradient: #A4508B;
$main-navigation-after-icon-done-todos-background-image-first-gradient: #380036;
$main-navigation-after-icon-done-todos-background-image-second-gradient: #0CBABA;
// ASIDE
$aside-copyright-paragraph-color: white;
// PAGE BODY
$page-body-background-color: #2a314f;