$icon-qq: "\e910";
$icon-menu: "\e90e";
$icon-magnifying-glass: "\e90c";
$icon-sticky-note: "\e901";
$icon-note-checked: "\e900";
$icon-circle-with-plus: "\e903";
$icon-check: "\e902";
$icon-bubble: "\e96b";
$icon-cross: "\e906";
$icon-cancel-circle: "\ea0d";